.content {
	min-height: 160vh;
	background-color: #e6e4d9;
}

a {
	text-decoration: none;
	color: #ffffb3;
}

.sweets {
	height: 160vh;
	background-color: #ef6c00;
}
.element {
	min-height: 70vh;
	width: 26%;
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	margin : 1%;
	background-color: #ef6c00;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #b53d00;
}

.element img {
	width: 100%;
	height: 100%;
}

.element .img-holder {
	width: 100%;
	height: 250px;
}

.element .name {
	text-align: center;
	color: #ffffb3;
}

.element p {
	color :#ffffb3;
}
.element:hover {
	background-color: #ff9d3f;
}

.element:hover img {
	position: relative;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.element:hover p, .element:hover .name, .element:hover a {
	color : #212121;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.element:hover .name {
	position: relative;
	transform: translateY(10px);
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.element:hove p {
	transform: translateY(-10px);
	transition: 0.5s;
}

.element:not(:hover) img, .element:not(:hover) p, .element:not(:hover) .name{
	transition: 0.5s;
}