.content {
	min-height: 240vh;
	background-color: #e6e4d9;
}

a {
	text-decoration: none;
	color: #ffffb3;
}

.sweets {
	height: 240vh;
	margin-top: : -80vh;
	background-color: #ef6c00;
}

.element {
	min-height: 70vh;
	width: 26%;
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
    margin : 1%;
    margin-left: calc(2%);
    margin-right: 0;
	background-color: #ef6c00;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #b53d00;
}

.element img {
	width: 100%;
	height: 100%;
}

.element .img-holder {
	width: 100%;
	height: 250px;
}

.element .name {
	text-align: center;
	color: #ffffb3;
}

.element p {
	color :#ffffb3;
}
.element:hover {
	background-color: #ff9d3f;
}

.element:hover img {
	position: relative;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.element:hover p, .element:hover .name, .element:hover a, .element:hover li {
	color : #212121;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.element:hover .name {
	position: relative;
	transform: translateY(10px);
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.element:hove p {
	transform: translateY(-10px);
	transition: 0.5s;
}

.element:not(:hover) img, .element:not(:hover) p, .element:not(:hover) .name, .element:not(:hover) li{
	transition: 0.5s;
}

.element:last-child {
	display: block;
	background-color: #ef6c00;
	margin-left: auto;
    margin-right: auto;
}

.element:last-child .img-holder {
	width: 100%;
	height: 200px;
}

.element:last-child img {
	width: 42%;
	height: 80%;
	margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
}

.element:last-child .img-holder {
	align-content: center;
}

ol {
	list-style-position: inside;
	list-style-type: circle;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	font-size:24px;
	color: #ffffb3;
	display: inline-block;
}

.custom li:first-child{
	list-style-type: none;
	padding-bottom: 10%;
}

.customli:last-child {
	list-style-type: none;
	padding-top: 10%;
	font-size:20px;
}

li {
	padding-bottom: 2%
}

button {
	border: none;
	background-color: #ef6c00;
}

.blur {
	filter: blur(5px);
}

.white_space {
	background-color: #ffffb3;
	position: sticky;
	z-index: 100;
	max-width: 90%;
	min-height: 80vh;
	top: 10vh;
	left: 5%;
	border-radius: 40px;
}

.form_element {
	vertical-align: top;
	min-height: 72vh;
	width: 29%;
	background-color: #ef6c00;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: #b53d00;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 4vh;
}

.form_element img {
	width: 100%;
	height: 100%;
}

.form_element .description {
	padding-top: 10px;
}

hr {
	background-color: #b53d00;
	color: #b53d00;
	border: none;
	height: 2px;
}

.ing {
	height: 30vh;
	width: 80%;
	margin-left: 10%;
	background-size: 100% 100%;
	background-image: url("images/sharlotka.png");
}

.ing_list {
	background-color: #ef6c00;
	position: relative;
}

.recipe {
	padding-top: 10px;
	font-size: 16px;
	overflow: auto;
}

.ing_list li{
	font-size: 14px;
}

.ing_list {
	width: 40%;
	left: 60%;
	height: 50%;
	top: 50%;
	overflow: auto;
	border-radius: 5px 0px 0px 0px;

	overflow: auto;
}