ol {
	list-style-position: inside;
	list-style-type: circle;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #ffffb3;
	display: inline-block;

	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #b53d00;
}

.content {
	min-height: 200vh;
}

.ing li {
	padding-top: 1%;
}

img {
	position: relative;
	
	height: calc(98% - 2px);
	z-index: 1;
}

.recipe {
	position: relative;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
	margin-left: 2%;
	width: 97%;
	font-size: 14px;
	height: 59vh;
}

.ing {
	background-color: #ef6c00;
	position: relative;
	font-size: 16px;
	border-radius: 10px 0px 0px 0px;
	z-index: 2;
	box-sizing: border-box;
	width: 48%;
	height: 26vh;
	margin-top: calc(14vh - 3px);
	margin-left: calc(52% + 3px);
}

.f_layer {
	box-sizing: border-box;
	margin-left: 2%;
	margin-top: 1%;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px 10px 0px 0px;
	border-color: #b53d00;
	position: relative;
	display: inline-block;
	width: 97%;
	height: 40vh;
  	background-size:  100% 100%;
}

.napoleon {
	background-image: url("images/cake-napoleon.png");
}

.sharlotka {
	background-image: url("images/sharlotka.png");
}

.kievskii {
	background-image: url("images/kievskii.png");
}

.medovick {
	background-image: url("images/medovik.png");
}

.praga {
	background-image: url("images/praga.png");
}

.cheescake {
	background-image: url("images/chiscake.png");
}

.element {
	display: inline-block;
	position: relative;
	width: 33%;
	height: 99vh;
	box-sizing: border-box;
	margin-bottom: 1%;
}

.f_layer:hover .ing {
	opacity: 0.01;
	transition: 0.5s;
}

.f_layer:hover {
	background-color: #ff9d3f;
	transition: 0.5s;
}

.f_layer:not(:hover) .ing {
	transition: 0.2s;
}

.recipe:hover {
	border-radius: 10px 10px 10px 10px;
	background-color: #ff9d3f;
	color : #212121;	
	z-index: 3;
	margin-top: -40vh;
	height: 99vh;
	font-size: 18px;
}

.recipe:not(:hover) {
	transition: 0.2s;
}


